#!/usr/bin/env xdg-open

[Desktop Entry]
Name=ZumbiTroll
Comment=Execução da aplicação zumbitroll
TryExec=java -jar /home/wanghley/Downloads/JavaProjects/LdP IFB/ZumbiTroll/ZumbiTroll/dist/ZumbiTroll.jar
Exec=java -jar /home/wanghley/Downloads/JavaProjects/LdP IFB/ZumbiTroll/ZumbiTroll/dist/ZumbiTroll.jar
Icon=/home/wanghley/Downloads/JavaProjects/LdP IFB/ZumbiTroll/ZumbiTroll/dist/zombie.png
Terminal=true
Type=Application
